{% for schedule in schedules %}
resource "datadog_downtime" "maintenance_{{ schedule['maintenanceId'] }}" {
  scope      = {{ schedule['scope'] }}
  start_date = "{{ schedule['startDate'] }}"
  end_date   = "{{ schedule['endDate'] }}"
  monitor_id = {{ schedule['monitorId'] }}
  message    = "Oworxmaint:{{schedule['maintenanceId']}}\n\n Requested in ticket {{ schedule['requestId'] }}"
  {% if schedule['type'] %}
  recurrence {
    type              = "{{ schedule['type'] }}"
    period            = {{ schedule['period'] }}
    week_days         = {{ schedule['weekDays'] }}
    until_occurrences = {{ schedule['untilOccurrences'] }}
    until_date        = {{ schedule['untilDate'] }}
  }{% endif %}
}
{% endfor %}
